body, html {
  cursor: url("../img/maincursor.png"), auto;
}

a {
  cursor: url("../img/linkcursor.png"), auto;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2500px;
  background-color: #0033cc
}

h1 {
  font-family: 'La Belle Aurore', cursive;
  font-weight: normal;
  font-size: 70px;
  text-align: center;
  color: #0033CC;
  padding: 0;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  padding: 0;
  z-index: 1;
}

#header {
  width: 100%;
  height: 100px;
  position: fixed;
  margin-top: 60px;
  left: 60px;
}

#nav {
  width: 410px; float: right;
  z-index: 3;
}

#nav ul{
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
}

#nav li{
  margin-top: -15px;
  float: left;
  padding-left: 10px;
  z-index: 3;
}

#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Raleway', sans-serif; }

#nav li a.active { color: #fff; opacity:1; }

#nav li a:hover { color: #fff; opacity:1; border-bottom: 3px solid #fff; }

#home, #about, #project, #exercises {
  width: 100%;
}

#home {
  background-color: #0033cc;
  height: 700px;
}

.ele {position: absolute;
      top: 200px;
      left: 65%;
      height: 500px;
    }

.container {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 290px;
  left:30%;
  background-color: #0033cc;
}

.image {
  position:absolute;
  width: auto;
  height: 30px;
  top: 290px;
  left:30%;

}

.overlay {
  position: absolute;
  top: 290px;
  left: 30%;
  height: 100px;
  width: 100px;
  opacity: 0;
  transition: .5s ease;
  background-color: #0033cc;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 19px;
  position: absolute;
  text-align: center;
}

#about {
  background-color: white;
  height: 600px;
  overflow:hidden;
}


#project {
  height: 500px;
}

.computer {
  z-index: 0;
  position: relative;
  top: 410px;
  height: 300px;
  width:auto;
}

.aboutproject {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 19px;
  position: absolute;
  text-align: right;
  z-index: 0;
  position: relative;
  top: 270px;
  right: 300px;
  width:auto;
}

.slider-holder
   {
       width: 800px;
       height: 400px;
       background-color: white;
       margin-left: auto;
       margin-right: auto;
       margin-top: 50px;
       text-align: center;
       overflow: hidden;
       position: absolute;
       top: 1370px;
       left: 20%;
       z-index: 2;
   }

   .image-holder
   {
       width: 8000px;
       background-color: white;
       height: 400px;
       clear: both;
       position: relative;

       -webkit-transition: left 2s;
       -moz-transition: left 2s;
       -o-transition: left 2s;
       transition: left 2s;
   }

   .slider-image
   {
       float: left;
       margin: 0px;
       padding: 0px;
   }

   #slider-image-1:target ~ .image-holder
   {
       left: 0px;
   }

   #slider-image-2:target ~ .image-holder
   {
       left: -800px;
   }

   #slider-image-3:target ~ .image-holder
   {
       left: -1600px;
   }

   #slider-image-4:target ~ .image-holder
   {
       left: -2400px;
   }

   #slider-image-5:target ~ .image-holder
   {
       left: -3200px;
   }

   #slider-image-6:target ~ .image-holder
   {
       left: -4000px;
   }

   #slider-image-7:target ~ .image-holder
   {
       left: -4800px;
   }

   #slider-image-8:target ~ .image-holder
   {
       left: -5600px;
   }


   .button-holder
   {
       position: relative;
       top: -20px;
   }

   .slider-change
   {
       display: inline-block;
       height: 10px;
       width: 10px;
       border-radius: 5px;
       background-color: brown;
   }

#exercises {
  height: 500px;
  position: absolute;
  top: 2500px;
  left: 50%
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  }

.ex {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
